@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        font-family: "Caramel", cursive;
        font-family: "Crimson Text", serif;
        font-family: "Nunito Sans", sans-serif;
        font-family: "Poppins", sans-serif;
        background-color: black;
    }
}

.Typewriter__cursor {
    color: #eb83f8;
}
